.newTask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transform: translateY(-50%);
}

.newTask input {
  border: none;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-100);
  padding: 1rem;
  width: 100%;
  line-height: 1.4;
}

.newTask button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--blue-700);
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  cursor: pointer;

  transition: background-color 200ms;
}

.newTask button:hover {
  background-color: var(--blue-200);
}
