.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.info .createdTask p,
.info .completedTasks p {
  font-size: 0.875rem;
  font-weight: 700;
}

.info .createdTask p {
  color: var(--blue-200);
}

.info .completedTasks p {
  color: var(--purple-300);
}

.info span {
  background-color: var(--gray-400);
  color: var(--gray-200);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
}

.emptyList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 4rem 0;
  color: var(--gray-300);
}

.emptyList p {
  line-height: 1.4;
}

.emptyList strong {
  display: block;
}
